.row {
    display: flex;
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.calendar {
    display: block;
    font-size: 1.3rem;
    text-align: center;

    .header {
        font-size: 62.5% !important;

        .vertical-center {
            display: flex;
            justify-content:center;
            align-items: center;
          }

        // color: #FFFFFF;
        cursor: default;
        font-size:1.4rem;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
        
        .vertical-center {
            display: flex;
            justify-content:center;
            align-items: center;
          }
        .month-display {
            border-radius: 0 20px 0 0;
            display: flex;
    justify-content: space-around;
            align-items: center;
            height: 100px;
            background:white;
        }

        .month-label { 
           flex: 1;
        }
      
        .arrow {
            text-align: center;
            flex-basis: 15%;
            font-weight: bold;
            cursor: pointer;
            transition: background .2s;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          
            &:hover {
                background: darken(#2875C7,10%);
            }
        }
    }
  
    .week {
        border-top: solid 1px #CCCCCC;
        font-size: 75% !important;
        

        &:first-child {
            border-top: none;
        }
    }
  
    .day-names {
        color: #2875C7;
        font-weight: bold;
        cursor: default;
        font-size: 1.2rem;
        font-size: 75% !important;

        
        .day {
            cursor: default;
            
            &:hover {
                background: inherit;

            }
        }
    }
.day {
    .vertical-center {
    display: flex;
    justify-content:center;
    align-items: center;
  }
    flex: 1;
        height: 35px;
        border-left: solid 1px #CCCCCC;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: #EFEFEF;
        }

        &:first-child {
            border-left:none;
        }

        &.today {
            background: lighten(#2875C7,45%);
        }

        &.different-month {
            color: #C0C0C0;
        }

        &.selected {
            background: #2875C7;
            color: #FFFFFF;
        }
    }
}