
.header-icons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #00000029;
}

.header-icons i{
    font-size: 30px;
}

a{
    color: #2bc76a;
    text-decoration: none;
    font-weight: bold;
}

.content-uable{
    display: flex;
}