
a{
    color: #2bc76a;
    text-decoration: none;
    font-weight: bold;
}
.learning-details{
    font-size: 14px;
}
.student-name{
    font-size: 28px;
    font-weight: bolder;
}

a i {
    font-size: 12px !important;
}